*{
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
}
body{
    background-color: #FFF8E8;
}


#profile-container{
    margin: auto;
    width: 500px;
    height: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: rgba(245, 245, 245, 0.404);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}
#profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}


#navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15px;
    padding: 5px 10px;
}
#navigation i{
    transition: transform 0.3s ease;
}
#navigation i:hover{
    transform: scale(1.1);
}
.fa-solid.fa-x.fa-xl:hover{
    color: #C62E2E;
}



#profile-picture{
    border-radius: 50%;
    width: 300px;
    border: 10px solid #D1E9F6;
}
#name{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0 0 0;
}
#profession{
    color: grey;
    font-weight: 400;
    margin-top: -5px;
}

#porfolio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}
.porfolio-elements *{
    margin: 0;
}
.porfolio-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.porfolio-elements h3{
    font-size: 2rem;
}
.porfolio-elements h4{
    font-size: 0.9rem;
    font-weight: 500;
    color: grey;
}

#profile-description{
    width: 80%;
    color: grey;
}



#link-social{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px;
}
#link-social a{
    transition: transform 0.5s ease, margin 0.5s ease;
}
#link-social a:hover{
    transform: scale(1.2);
    margin-inline: 2px;
}





#button-profile{ 
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-block: 20px;
}
.btn{
    font-size: 1.3rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
}
#view-more{
    background-color: rgba(255, 255, 255, 0.397);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid white;
    transition: border 0.5s ease, background-color 0.5s ease;
}
#message{
    background-color: #7AB2D3;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: border 0.5s ease, background-color 0.5s ease;
}

#view-more:hover{
    border: 1px solid #FCDE70;
    background-color: #FCDE70;
}
#message:hover{
    background-color: #295F98;
    color: white;
}